<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/site/layout::areas(~{::title},~{::body})}">

<head>
    <title>Đổi mật khẩu | Color Market</title>
</head>

<body style="margin-top: 150px;">
    <div class="text-center">
        <h2>Thay đổi mật khẩu của bạn</h2>
    </div>

    <form th:action="@{/color/change_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div th:if="${message != null}" class="m-3">
                <p class="text-danger">[[${message}]]</p>
            </div>
            <div>
                <p>
                    <input type="password" name="oldPassword" class="form-control" placeholder="Mật khẩu cũ" required
                        autofocus />
                </p>
                <p>
                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                        placeholder="Mật khẩu mới" required />
                </p>
                <p>
                    <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới" required
                        oninput="checkPasswordMatch(this);" />
                </p>
                <p class="text-center">
                    <input type="submit" value="Xác nhận" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>
    <script>
        function checkPasswordMatch(fieldConfirmPassword) {
            if (fieldConfirmPassword.value != $("#newPassword").val()) {
                fieldConfirmPassword.setCustomValidity("Passwords do not match!");
            } else {
                fieldConfirmPassword.setCustomValidity("");
            }
        }
    </script>
</body>

</html>