 <!-- Main Sidebar -->
 <!-- <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0"> -->
 <div class="main-navbar">
     <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
         <!-- <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;"> -->
         <div class="d-table m-auto">
             <div class="logo_container">
                 <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;"
                     src="/images/logo.png">
                 <span class="d-none d-md-inline ml-1"><a style="font-size: 24px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;">color</a> <span style="color: #fe4c50;font-weight: 700;
    text-transform: uppercase;font-size: 24px;">market</span></span></div>
         </div>
         <!-- </a> -->
         <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
             <i class="material-icons">&#xE5C4;</i>
         </a>
     </nav>
 </div>
 <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
     <div class="input-group input-group-seamless ml-3">
         <div class="input-group-prepend">
             <div class="input-group-text">
                 <i class="fas fa-search"></i>
             </div>
         </div>
         <input class="navbar-search form-control" type="text" placeholder="Search for something..."
             aria-label="Search">
     </div>
 </form>
 <div class="nav-wrapper">
     <ul class="nav flex-column">
         <li class="nav-item">
             <a class="nav-link" href="/home/index">
                 <i class="fa fa-home" aria-hidden="true"></i>
                 <span>Trang chủ</span>
             </a>

         </li>
         <li class="nav-item">
             <a class="nav-link active" href="#!statistics">
                 <i class="fas fa-chart-pie"></i>
                 <span>Thống kê</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="#!product">
                 <i class="fab fa-product-hunt"></i>
                 <span>Sản phẩm</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="#!category">
                 <i class="fas fa-braille"></i>
                 <span>Loại sản phẩm</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="#!authorize">
                 <i class="material-icons">view_module</i>
                 <span>Phân quyền</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="#!account">
                 <i class="fas fa-users-cog"></i>
                 <span>Người dùng</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="#!order">
                 <i class="fas fa-people-carry"></i>
                 <span>Đơn đặt hàng</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="#!profile">
                 <i class="fas fa-user-alt"></i>
                 <span>Tài khoản</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="/security/logoff/success">
                 <i class="fas fa-sign-out-alt    "></i>
                 <span>Đăng xuất</span>
             </a>
         </li>
     </ul>
 </div>
 <!-- </aside> -->