<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <footer class="main-footer d-flex p-2 px-3 bg-white border-top" th:fragment="footer">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Về chúng tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liên hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
        </ul>
        <span class="copyright ml-auto my-auto mr-2">Copyright © 2021
            <a href="https://designrevision.com" rel="nofollow">by HongHieu</a>
        </span>
    </footer>
</body>

</html>